*{
    margin:0px;
    padding:0px;
    font-family: "century";
    box-sizing:border-box;
}

body{
    background:black;
    color:white;
}
/*----------sidebar----------*/

#header{
    display:flex;
    justify-content:center;
    align-items:center;
    position:sticky;
    top:0;
}

#header ul{
    display:flex;
    list-style-type:none;
    margin:30px 0px;
    gap:4rem;
}

#header ul li a{
    color:white;
   font-size:20px;
   font-weight:bold;
   text-decoration:none;
   padding:0px 20px;
   transition: all .5s ease;
}

#header ul li a:hover{
    color:rgb(164, 227, 166);
    transition:0.5s;
    box-shadow:0 0 10px;
}

.button{
    font-size:22px;
    background-color:rgb(164, 227, 166);
    color:white;
    text-decoration:none;
    border: 1px solid transparent;
    padding:10px 10px;
    border-radius:20px;
}

.button:hover{
    transform:scale(1.2);
}
 /*----------My intro----------*/
.name{
    display:flex;
    flex-direction:column;
}

.home{
    height:840px;
    display:flex;
    flex-direction:column;
    align-items:center;
    position:absolute;
    top:20%;
    right:20%;
}

.name h1{
    display:left;
    font-size:45px;
    margin-top:85px;
    text-align: center;
}

.name h1 span{
    color: rgb(164, 227, 166);
}

.my-picture{
    float:left;
    margin-top:6em;
   margin-left:4em;
    border-radius:40px;
    width:35%;
   
   
}

/*---------About-me Section--------*/
.about-me{
display:flex;
flex-direction:column;
}





