*{
    margin:0px;
    padding:0px;
    font-family: "century";
    box-sizing:border-box;
}

body{
    background:black;
    color:white;
}
/*----------sidebar----------*/

#header{
    display:flex;
    justify-content:center;
    align-items:center;
    position:sticky;
    top:0;
}

#header ul{
    display:flex;
    list-style-type:none;
    margin:30px 0px;
    gap:4rem;
}

#header ul li a{
    color:white;
   font-size:20px;
   font-weight:bold;
   text-decoration:none;
   padding:0px 20px;
   transition: all .5s ease;
}

#header ul li a:hover{
    color:rgb(37 156 186);
    transition:0.4s;
    box-shadow:0 0 15px;
}

.button{
    font-size:25px;
    margin-left:75px;
    background-color:rgb(37 156 186);
    color:white;
    text-decoration:none;
    padding:10px 10px;
    border: 1px solid transparent;
    border-radius:20px;
}

.button:hover{
    transform:scale(1.3);
}

 /*----------My intro----------*/
.name{
    display:flex;
    flex-direction:column;
    border:1px solid;
    padding:10px;
    margin-top:10px;
    background:url('Images/Background-img.JPG') no-repeat center center/cover;
    height:800px;
    z-index: -1;
    opacity:.9;
}

.name h1 span{
    color: rgb(37 156 186);
}

.box-1{
    color:black;
     height:350px;
    display:flex;
     flex-direction:column;
     align-items:center;
     position:absolute;
     top:30%;
     right:10%;
 }

.box-1 h1{
    display:left;
    padding-top:5px;
    font-size:70px;
    text-align:center;
}

.box-1 p{
    font-size:30px;
    font-weight:bold;
    margin-top:30px;
    padding:10px;
    border:4px solid white;
    border-radius:40px;
}

.box-1 p:hover{
    background-color:rgb(37 156 186);
    opacity:.7;
}

/*------------About-me-------------*/
.about-me{
    width:50%;
    flex-direction:column;
    margin:700px;
   margin-top:550px;
    border:25px solid black;
    background-color:black;
    border-radius: 50px;
}

.about-me h1{
    color:rgb(37 156 186);
    display:flex;
}

.about-me p{
    margin:15px;
   font-size:18px;
}

/*-----------Main Section----------*/
.headings{
    background-color:rgb(37 156 186);
    text-align:center;
    padding:10px;
    margin:10px;
}


.container{
    display:flex;
    flex-direction:column;
    box-sizing:border-box;
    padding:20px;
    margin-bottom:50px;
}

/*--------------Skills----------*/
.section-1{

}

.section-1 h2{
    font-size:2rem;
    margin-bottom:20px;
}

.section-1 img{
 width:20%;
float:right;
   margin-right:300px;
   margin-top:30px;
   margin-bottom:40px;
border-radius:18px; 
}

.languages{
    display:flex;
    flex-direction:column;
    padding:40px;
}

.languages ul{
   font-size:45px;
   margin-top:70px;
  align-self:center;
}

.languages ul li{
   color:rgb(37 156 186);
}









