*{
    margin:0px;
    padding:0px;
    font-family: "century";
    box-sizing:border-box;
}

body{
    background:black;
    color:white;
}
/*----------sidebar----------*/

#header{
    display:flex;
    justify-content:center;
    align-items:center;
    position:sticky;
    top:0;
}

#header ul{
    display:flex;
    list-style-type:none;
    margin:30px 0px;
    gap:4rem;
}

#header ul li a{
    color:white;
   font-size:20px;
   font-weight:bold;
   text-decoration:none;
   padding:0px 20px;
   transition: all .5s ease;
}

#header ul li a:hover{
    color:rgb(164, 227, 166);
    transition:0.4s;
    box-shadow:0 0 15px;
}

.button{
    font-size:22px;
    background-color:rgb(164, 227, 166);
    color:white;
    text-decoration:none;
    border: 1px solid transparent;
    padding:10px 10px;
    border-radius:18px;
}

.button:hover{
    transform:scale(1.3);
}

 /*----------My intro----------*/
.name{
    display:flex;
    flex-direction:column;
   border:1px solid;
   padding:10px;
}

.name h1{
    display:left;
    font-size:60px;
    margin-top:85px;
    text-align: center;
}

.name h1 span{
    color: rgb(164, 227, 166);
}

.home{
    height:840px;
    display:flex;
    flex-direction:column;
    align-items:center;
    position:absolute;
    top:20%;
    right:20%;
}

.home p{
    font-size:25px;
    padding:10px;

}

/*------------About-me-------------*/
.about-me img{
    float:left;
    margin-top:6em;
    margin-left:10em;
    border-radius:45px;
    width:25%;
}

.about-me{
    display:flex;
    flex-direction:column;
    margin:50px;
}

.about-me h1{
    color:rgb(164, 227, 166);
    display:flex;
}

.about-me p{
    margin:20px;

}

/*-----------Main Section----------*/
.headings{
    background-color:rgb(164, 227, 166);
    text-align:center;
    padding:10px;
    margin:10px;
}







