*{
    margin:0px;
    padding:0px;
    font-family: "century";
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:black;
    color:white;
}
/*----------sidebar----------*/

#header{
    display:flex;
    justify-content:center;
    align-items:center;
    position:sticky;
    top:0;
}

#header ul{
    display:flex;
    list-style-type:none;
    margin:30px 0px;
    gap:4rem;
}

#header ul li a{
    color:white;
   font-size:20px;
   font-weight:bold;
   text-decoration:none;
   padding:0px 20px;
   transition: all .5s ease;
}

#header ul li a:hover{
    color:rgb(37 156 186);
    transition:0.4s;
    box-shadow:0 0 15px;
}

.button{
    font-size:25px;
    margin-left:75px;
    background-color:rgb(37 156 186);
    color:white;
    text-decoration:none;
    padding:10px 10px;
    border: 1px solid transparent;
    border-radius:20px;
}

.button:hover{
    transform:scale(1.3);
}

 /*----------My intro----------*/
.name{
    display:flex;
    flex-direction:column;
    border:1px solid;
    padding:10px;
    margin-top:10px;
    background:url('Images/Background-img.JPG') no-repeat center center/cover;
    height:800px;
    z-index: -1;
    opacity:.9;
}

.name h1 span{
    color: rgb(37 156 186);
}

.box-1{
    color:black;
     height:350px;
    display:flex;
     flex-direction:column;
     align-items:center;
     position:absolute;
     top:30%;
     right:10%;
 }

.box-1 h1{
    display:left;
    padding-top:5px;
    font-size:70px;
    text-align:center;
}

.box-1 p{
    font-size:30px;
    font-weight:bold;
    margin-top:30px;
    padding:10px;
    border:4px solid white;
    border-radius:40px;
}

.box-1 p:hover{
    background-color:rgb(37 156 186);
    opacity:.7;
}

/*------------About-me-------------*/

.about-me{
    width:50%;
    flex-direction:column;
    margin:700px;
    margin-top:550px;
    border:25px solid black;
    background-color:black;
    border-radius: 50px;
}

.about-me h1{
    color:rgb(37 156 186);
    display:flex;
    margin-left:10px;
}

.about-me p{
    margin:15px;
   font-size:20px;
   line-height:1.5;
}

/*-----------Main Section----------*/
.headings{
    background-color:rgb(37 156 186);
    text-align:center;
    padding:15px;
    margin-top:30px;
    font-size:30px;
}

/*---------------Section-1------------*/
.section-1{
    flex-direction:row;
    height:600px;
   justify-content:stretch
}

.portrait{
    width:20%;
    margin-right:350px;
    margin-top:60px;
    border-radius:20px; 
    opacity:.9;
   float:right;
}

.languages ul{
    font-size:45px;
    color:rgb(37 156 186);
   padding:180px;
   margin-left:250px;
}
.languages ul li{
   max-width:fit-content;
}

.languages ul li:hover{
    box-shadow:0 0 30px white;
   
}

/*----------------section 2--------------*/
#projects{
    justify-content:space-around;
    box-sizing:border-box;
    flex-wrap:wrap;
   
}

#projects img{
   width:450px;
   height:300px;
   margin:60px;
   margin-top:90px;
   margin-bottom:90px;
}

/*----------------section 3--------------*/

#Contact{
  display:flex;
  flex-direction:column;
  box-sizing:border-box;
  background-color:rgba(0 0 0 0.9);
  color:white;  
  padding:20px;
} 
.form{
    display:flex;
    flex-direction:column;
    box-sizing:border-box;
    align-items:center;
    margin:20px 0px;
} 

.input{
    padding:12px;
    margin:15px;
    width:30%;
    border:none;
    outline:none;
}
.msg{
    width:20%;
    padding:10px;
    margin:15px;
    border:none;
    outline:none;
}

#send{
    padding:10px;
    width:10%;
    margin:40px;
    border:none;
    outline:none;
}

#send:hover{
    cursor:pointer;
    box-shadow:0 0 20px white;
}


/*----------footer------------*/
.footer{
    width:100%;
    text-align:center;
    margin-top:40px;
    font-size:15px;
    padding:40px 0;
    background:#262626;
}


/*----------------css for small screen-----------*/
@media all and (max-width:500px){
    body{
        height:100vh;
        overflow:hidden;
    }
    
    #header{
    background:#262626;
}
    .footer{
    background:black;
}   

}


