* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;

}

html {
    scroll-behavior: smooth;
}

body {
    background:rgb(33, 31, 31);
    color:white;
}
/*----------Sidebar----------*/

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    letter-spacing: 3px;
    top: 0;
}

#header ul {
    display: flex;
    list-style-type: none;
    margin: 30px 0px;
    margin-top:60px;
    gap: 4rem;
}

.sidebar li a {
    color:white;
    font-size: 20px;
    text-decoration: none;
    transition: all .5s ease;
    position: relative;
    padding: 0 10px;
}

.sidebar a:after {
    content: "";
    position: absolute;
    background-color: #52eedf;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #fff;
}

.sidebar a:hover:after {
    width: 100%;

}

.button {
    font-size: 20px;
    margin-top: 30px;
    margin-left: 75px;
    background-color:#52eedf;
    color:white;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 30px;
}

.button:hover{
   transition: all 0.4s linear;
   transform:scale(1.1);
}


/*----------Navbar----------*/
nav {
    margin: 0;
    padding: 0;
    position: fixed;
    margin-top: 260px;
}

li a, i {
    text-decoration: none;
    font-size: 30px;
}

nav li {
    height: 70px;
    position: relative;
}

#icon {
    display: block;
    width: 100%;
    height: 100%;
    transition: all 0.4s linear;
    position: absolute;
    top: 25px;
    left: 45px;
    color:#52eedf;
}

nav i:hover {
    width: 100px;
    z-index: 1;
    font-size: 45px;
}


 /*----------My intro----------*/
.name {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
    background-image: url('../Images/Background-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    height: 800px;
    z-index: -1;
}

.name span  {
    color: #52eedf;
}

.box-1 {
    color:black;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
    letter-spacing: 3px;
 }

.box-1 h1 {
    display: left;
    padding-top: 5px;
    font-size: 70px;
    text-align: center;
}

.box-1 p {
    font-size: 25px;
    line-height: 1em;
    transform-origin: 0 0;
    color:#52eedf;
    margin-top: 30px;
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
}


.box-1 .title{
    display: inline-block;
    line-height: 1em;
    transform-origin: 0 0;
}


.download {
    padding: 16px 35px;
    text-decoration: none;
    border: #52eedf 1px solid;
    border-radius: 35px;
    letter-spacing: 2px;
    color: white;
    margin-top:100px;
}

.download:hover {
    background-color: #52eedf;
}

/*------------Main Section-------------*/
.section-1 {
    height: 550px;
    display: flex;
}

.headings {
    background-color:#52eedf;
    text-align: center;
    padding: 12px;
    margin-top: 30px;
    font-size: 30px;
    letter-spacing: 3px;
}

/*------------Main Section [ABOUT ME]-------------*/
.section-1 p {
    margin-top:120px;
    margin-left:40px;
    padding: 10px;
    letter-spacing:3px;
}


/*----------------Main Section [SKILLS]--------------*/
.section-2 {
    height: 600px;
}

.container-2 {
    box-sizing: border-box;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 2rem;
    padding: 16px;
}

.skill-box {
    padding: 16px;
    margin-top: 200px;
    cursor: pointer;
}

.skill-box:hover .img {
    transform: translateY(-15px);
}

.skill-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    font-size: 18px;
}

h3 {
    text-decoration: none;
   transition: all .5s ease;
   position: relative;
   padding: 0 10px;
}

h3:after {
    content: "";
    position: absolute;
    background-color: #52eedf;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

h3:hover {
    color: #fff;
}

h3:hover:after {
    width: 100%;

}

.img {
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90px;
    background: #52eedf;
    border-radius: 45px 0 0 45px;
}

.skill-title h3 {
    color: #fff;
    margin-top: 8px;
}

.skill-icon {
    width: 50px;
    z-index: 2;

}


@media screen and (max-width: 990px) {
    .container-2 {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 50px;
    }
}


@media screen and (max-width: 650px) {
    .container-2 {
        grid-template-columns: 1fr;
    }
}




/*-----------------Main Section [LATEST PROJECTS]------------*/
#projects {
    justify-content: space-around;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.img-1 {
    display: block;
    margin-top:100px;
    margin-bottom:100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
   padding: 10px;
   border-radius: 20px;
   border: 1px solid white;
}

.img-2, .img-3 {
   display:flex;
   margin-top:40px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom:100px;
   padding:5px;
   width:30%;
   border-radius: 20px;
   border: 1px solid white;
}

.img-1:hover,
.img-2:hover,
.img-3:hover {
    box-shadow:0 0 30px white;
    cursor:pointer;
}


/*----------------Main Section [CONTACT]--------------*/

#Contact {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color:rgba(0 0 0 0.9);
    color:white;  
    padding: 20px;
} 

.form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
} 

.input {
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
}

.msg {
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}

#send{
    padding: 10px;
    width: 10%;
    margin: 40px;
    border: none;
    outline: none;
}

#send:hover {
    cursor: pointer;
    box-shadow: 0 0 20px white;
}


/*----------footer------------*/
.footer {
    width: 100%;
    text-align: center;
    margin-top: 60px;
    font-size: 12px;
    padding:  40px 0;
    letter-spacing: 3px;
}


/*----------------css for small screen-----------*/
@media screen and (max-width:600px){
    body {
        height: 100vh;
        overflow: hidden;
    }
    
    #header {
        background:#262626;
    }

    .footer {
        background-color: #52eedf;
    }   

}


